#shoppingcart{
	margin-top:0px;
	/*margin-left: 50px;*/
	height: 100px;
	width: 100%;
	background: #eee;
	/*border: 1px solid #444;*/
}

#booklist, #contents {
	margin-top: 10px;
	/*margin-left: 50px;*/
	alignment-adjust:central;	
    width: 100%;
	background: #ddd;
	/*border: 1px solid #333;*/
}

#booklist ul {
	list-style-type: none;
}

#booklist ul li {
	margin: 0 1em 1em;
}

#contents table {
	font-size: 90%;
	border-collapse: collapse;
}

#contents table td {
	border: 1px solid #999;
	width: 20%;
}

#contents p, #contents button, #contents a{
	margin: 1em;
}